---
# tasks/main.yml for monit

- name: Set Monit to "{{ wtd_monit_state }}"
  package:
    name: "{{ item }}"
    state: "{{ wtd_monit_state }}"
  with_items: "{{ wtd_monit_packages }}"
  tags:
    - monit

- name: Include Configuration
  include_tasks: configure.yml

- name: Include Default Checks
  include_tasks: default_checks.yml
  when: wtd_monit_default_checks

- name: Enable and Start Monit
  service:
    name: monit
    state: started
    enabled: yes
  tags:
    - monit

- name: Reload Monit
  service:
    name: monit
    state: reloaded
  when: wtd_monit_reload_checks
  tags:
    - monit
