check system $HOST
  if loadavg (1min) > {{ (ansible_processor_cores * ansible_processor_count * ansible_processor_threads_per_core * 2)|int }} then alert
  if loadavg (5min) > {{ (ansible_processor_cores * ansible_processor_count * ansible_processor_threads_per_core)|int }} then alert
  if cpu usage > 95% for 10 cycles then alert
  if memory usage > 75% then alert
  if swap usage > 25% then alert
