check device root with path /
  if space usage > 85% for 5 times within 15 cycles then alert
  if space usage > 95% then alert
  if inode usage > 95% then alert

check device var with path /var
  if space usage > 85% for 5 times within 15 cycles then alert
  if space usage > 95% then alert
  if inode usage > 95% then alert
